{% extends"layout.html" %}
{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{{ url_for('top') }}">ブランド</a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="ナビゲーションの切替">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {% if user == "online" %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('profile', userid=session['userid']) }}">プロフィール</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('newtitle', userid=session['userid']) }}">タイトルの新規作成</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('logout') }}">ログアウト</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('login') }}">ログイン</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('register') }}">アカウントの新規作成</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <header class="row justify-content-center">
      <h2>TOPページ</h2>
    </header>
  {% if titles|length != 0 %}
    {% for title in titles %}
      <div class="row justify-content-center">
        <h3><a href="{{url_for('title', title_id=title['id'])}}" class="text-dark">{{ title["name"] }}</a></h3>
      </div>
    {% endfor %}
  {% else %}
    <div class="row justify-content-center">
      <h3>無し</h3>
    </div>
  {% endif %}
{% endblock %}
