{% extends"layout.html" %}
{% block body %}
  <header class="row justify-content-center">
    <h2>TOPページ</h2>
  </header>
  {% if user != "online" %}
    <div class="row justify-content-center">
      <h3><a href="{{url_for('login')}}">ログイン</a></h3>
    </div>
  {% else %}
    <div class="row justify-content-center">
      <div class="col-4"><h3><a href="{{url_for('logout')}}">ログアウト</a>\<a href="{{url_for('login')}}">プロフィール画面へ</a></h3></div>
    </div>
  {% endif %}
  {% if titles|length != 0 %}
    {% for title in titles %}
      <div class="row justify-content-center">
        <h3>{{ title["name"] }}</h3>
      </div>
    {% endfor %}
  {% else %}
    <div class="row justify-content-center">
      <h3>無し</h3>
    </div>
  {% endif %}
  <div class="row justify-content-center">
    <h5><a href="{{url_for('newtitle', userid=session['userid'])}}">タイトルの新規作成</a></h5>
  </div>
{% endblock %}
